@model PersonalDiary.Models.Comment
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
@{ 
    foreach(var item in Model.commentList)
    {
        <p></p>
       <p>@item.CommentContent</p>

    }
}


