
@{
    ViewBag.Title = "Create";
}

<script>
    $(function () {
        $("#creatediary").click(function () {
            var a = $("#agree_input").val();
            var isPrivate = true;
            if (a != 1)
                isPrivate = false;
            //$.post("/Diary/Create", { "title": $("#input_Title").val(), "content": $("#textarea_Content").val(), "IsPrivate": isPrivate.val() }, function (obj) {             
            //    if (obj) {
            //        alert(obj.Msg);
            //        window.location.href = obj.Url;
            //    }
            //}, "json");
        });
    }) ;
</script>

<div>
    <form action="/Diary/Create" method="post">
        <input name="Title" id="input_Title" />
        <textarea name="Content" id="textarea_Content" cols=40 rows=10  style="overflow:auto" text-align:center background-color:BFCEDC></textarea>
        <input type="submit" value="保存" id="creatediary" />
        <input name="IsPrivate" id="agree_input" type="checkbox"  style="margin-left:100px;display:inline-block;" value="1" />


    </form>
   
</div>


<h2>Create</h2>

