@model PersonalDiary.Models.UserDiaryModel
@using Tgnet.Web.Sessions;
@{
    ViewBag.Title = "Create";
}
<script src="~/Content/jq/jquery-1.11.1.js"></script>
<script>
    $(function () {
        $("#creatediary").click(function () {
            //var title = $("#Content").val();
            //alert(title);
            $.post("/Diary/Edit", { "Title": $("#title").val(), "Content": $("#Content").val(), "UserDiaryId": $("#UserDiaryId").val(), "IsPrivate": $("#agree_input").val(), "UserId": $("#UserId").val()}, function (obj) {
                //if (obj) {
                    //alert(json.Url);
                    alert(obj.Msg);
                    window.location.href = obj.Url;
                //}
            }, "json");
        });
    });
</script>


@*<script>
    $(function () {
        $("form").submit(function () {
            $.post("/Diary/Edit", { }, function (obj) {
                if (obj) {
                    alert(json.Msg);
                    window.location.href = json.Url;
                }
            }, "json");
        });
    });
</script>*@

<div>
    <h2>Edit</h2>
<form >


   <table>
       <tr>
           <td>
           <input id="UserDiaryId" type="hidden" value="@Model.UserDiaryId">
           </td>
       </tr>
       <tr>
       <td>
           <input id="UserId" type="hidden" value="@Model.UserId">
       </td>
       </tr>
       <tr>
           <td style="text-align:center;vertical-align:middle;">标题</td>
           
           <td><input name="Title"  id="title" value="@Model.Title" /></td>
       </tr>
       <tr>
           <td style="text-align:center;vertical-align:middle;" >内容</td>
           <td>
               <textarea name="Content"  placeholder="请输入日志内容，不少于5个字" maxlength="800" onforminput="3" cols=40 rows=10 style="overflow:auto"
                              text-align:center background-color:BFCEDC id="Content">@Model.Content</textarea>
           </td>
       </tr>
       <tr>
           <td>
               <div style="float:left">
                   <input name="IsPrivate" id="agree_input" type="checkbox" style="display:inline-block;" value="true" />发布
               </div>
               <div style="float:right">
                   <input type="button" value="修改" id="creatediary" class="btn btn-default" />
               </div>
            
           </td>
        
       </tr>
   </table>

    

</form>      
</div>



